.section{
	background-color: rgba(255,255,255,0.7);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width:85%;
	position:absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  min-height: 40%;
  max-height: 50%;
  display: none;
  border-radius: 20px;
  

  

}
p {
 	font-family: roboto;
	color: black;
	text-shadow: 0px 0px, 0px 0px, 0px 0px;

}
form{
	padding-top: 17%;
}
.x{
	
	float: right;
	padding-right: 2%;
	color: red;
	font-family: roboto;
	font-size: 150%;
}

.width{
	width: 20%;
}
@media only screen and (min-width: 720px){
	form{
	padding-top: 13%;
}
.section{
	width:25%;

}
.width{
	width: 35%;

}